
button{
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	z-index: 1;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease; 
	opacity: 0.5;   

}

button.next{
	right: 0;
}

button:hover{
	opacity: 1;
}

@media only screen and (max-width: 600px) {
    button {
        top: 40%;
        padding: 16px;
        height: 150px;
    }
}